.banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 35rem;

    background-image: url(../../assets/images/sailor-moon-anime.jpeg);
    background-position: center;
    background-size: cover;

    &__title{
        color: rgb(11, 144, 95);
        font-weight: bold;
    }
}